.wave-div {
  width: 100%;
  text-align: center;
}

.waveform {
  position: relative;
  width: 60%;
  /* height: 100px; */
  overflow: hidden;
  margin: auto;
  padding: auto;
}

.waveform-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.waveform-buttons .iconi {
  width: 30px;
  height: 30px;
}

.waveform-buttons .w-button {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
  background-color: inherit;
  border: 2px solid var(--ion-color-medium);
}

.waveform-buttons .w-button-c {
  background-color: var(--ion-color-primary);
  border: 1px solid #000;
}
